

/* Header */

.header {
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 10px;
}

.headerLogo {
	margin-right: auto;
}

.headerMessageViewer {
	margin: 0px;
	margin-left: auto;
	color: #646464;
	text-transform: uppercase;
}

/* Messages */

.messagesContainer {
	background: #FFFFFF;
	border: 1px solid#C5C5C5;
	padding: 0px 10px;
	border-radius: 10px;
}

.messages {
	padding: 0px;
}

.message {
	padding: 15px;
	border: 1px solid #C5C5C5;
	margin-bottom: 10px;
	display: flex;
	border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Messages:Left */

.messageLeftContainer {
	display: inline-block;
	flex-grow: 1;
	flex-basis: 10%;
	max-width: 200px;
}

.messageLeftAvatar {
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

.messageLeftHandle {
	text-align: center;
	margin: 5px auto;
	display: block;
}

/* Messages:Middle */

.messageMiddleContainer {
	display: inline-block;
	flex-grow: 1;
	flex-basis: 50%;
  padding: 0px 5px 10px 5px;
}

.messageMiddleContent {
	margin: 5px 5px 0px 0px;
}

.messageMiddleHeaderContent {
	color: #666667;
	margin: 0px;
	font-size: 12px;
}

/* Messages:Right */

.messageRightButtonsContainer {
	align-items: flex-start;
	align-content: flex-start;
	display: flex;
}

.messageButton {
	padding: 10px;
	border: 1px solid #C5C5C5;
	background: white;
	flex-basis: 0;
	white-space: nowrap;
}

.messageButton:hover {
	cursor: pointer;
	background: rgb(219, 219, 219);
}

.starButton {
	margin-right: 5px;
}

.activeButton {
	color: #ffffff;
	background: #C09513;
	border: 1px solid #C09513;
}

.activeButton:hover {
	background: rgb(138, 107, 14);
	border: 1px solid rgb(138, 107, 14);
}

.trashButton {
	color: #ffffff;
	background: #ff4007;
	border: 1px solid #ff4007;
}

.trashButton:hover {
	background: #c23307;
	border: 1px solid #c23307;
}

.messageRightScore {
	margin: 5px 0px;
	justify-content: center;
	display: flex;
}

.star {
	margin: 3px;
}

/* Highlighter */

.highlightInput {
	margin-left: 10px;
	border: 1px solid #C5C5C5;
}

.highlightInput,
.highlightSubmitButton {
	display: inline-block;
	padding: 5px;
	font-size: 14px;
	-webkit-appearance: none;
}

/* Responsive */

@media screen and (max-width: 500px) {
	.App{
		margin: 30px 15px;
	}

	.header{
		display: block;
		text-align: center;
	}

	.messageHeader{
		text-align: center;
	}

	.messageButton{
		width: 100%;
		margin: 10px auto;
	}

	.highlightInput{
		width: 100%;
		margin: 0 auto;
		padding: 5px 0px;
		font-size: 16px;
	}

	.message{
		display: block;
		text-align: center;
	}
}